<div>
    <div *ngIf="index === 0 || index === 4 || index === 2" class="dot dot_center"></div>
    <div *ngIf="!(index === 0)" class="dot dot_one"></div>
    <div *ngIf="index === 5" class="dot dot_two"></div>
    <div *ngIf="index === 3 || index === 4 || index === 5" class="dot dot_three"></div>
    <div *ngIf="index === 3 || index === 4 || index === 5" class="dot dot_four"></div>
    <div *ngIf="index === 5" class="dot dot_five"></div>
    <div *ngIf="!(index === 0)" class="dot dot_six"></div>
</div>