<form class="container-modal_switch" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p class="title-modal">{{'loginForm' | transloco}}</p>
    <app-input-material *ngFor="let option of inputForm" [parentForm]="loginForm"
        [optionForm]="option"></app-input-material>
    <div class="footer-modal-login">
        <app-button-standart [button]="textButton"></app-button-standart>
        <div>
            <app-google-auth [size]="'3vw'"></app-google-auth>
            <app-yandex-auth [size]="'3vw'"></app-yandex-auth>
        </div>
    </div>
    <p class="footer-modal_text" (click)="registerOpen()">Зарегистрироваться</p>
</form>