<div *ngIf="(modal$ | async) !== 'none'" class="wrapper-modal" (click)="closeModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="modal-gradient">
            <span class="material-symbols-outlined close-modal" (click)="closeModal()">
                cancel
            </span>
            <div [ngSwitch]="(modal$ | async)">
                <app-modal-register *ngSwitchCase="'register'"></app-modal-register>
                <p *ngSwitchCase="'login'">Логин</p>
            </div>
        </div>
    </div>
</div>