<mat-spinner *ngIf="!(infoCellTurn$ | async); else elseBlock" class="spinner-info-cell"></mat-spinner>
<ng-template #elseBlock>
    <div class="info-cell-container">
        <img class="info-cell-img" [src]="(infoCellTurn$ |async)?.nameCell | imgAssets" alt="img info">
        <div class="info-desc-container">
            <div>
                <p class="info-cell-text info-cell-title">{{(infoCellTurn$ |async)?.titleCell }}</p>
                <p class="info-cell-text">{{(infoCellTurn$ |async)?.description}}</p>
                <p *ngIf="(infoCellTurn$ |async)?.descriptionTwo" class="info-cell-text">
                    {{(infoCellTurn$ |async)?.descriptionTwo}}
                </p>
            </div>
            <div class="info-cell-buttons">
                <app-button-standart *ngFor="let button of this.buttonsResult" [button]="button"></app-button-standart>
            </div>
        </div>
    </div>
</ng-template>