@import "./../../scss/color-styles";
@import "./../../scss/default-styles";

.main-page_title {
    @include font_default;
    color: $color_turquoise;
    font-size: 100px;
    font-weight: 600;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}


.main-page-container {
    width: max-content;
    margin: 0 auto;
}

.main-img {
    width: 185px;
    margin-bottom: 30px;
}

.main-page-buttons {
    @include flex-c_c;
    gap: 5%;
}

.decoration-main_one {
    position: absolute;
}