
<!-- <div class="pole">
<div *ngFor="let item of items">
  <app-gorisontal-line *ngIf="item % 2 === 0"></app-gorisontal-line>
  <app-vertical-line *ngIf="item % 2 !== 0"></app-vertical-line>
</div>
<div *ngFor="let item of items">
  <app-gorisontal-line *ngIf="item % 2 === 0"></app-gorisontal-line>
  <app-vertical-line *ngIf="item % 2 !== 0"></app-vertical-line>
</div>
<div *ngFor="let item of items">
  <app-gorisontal-line *ngIf="item % 2 === 0"></app-gorisontal-line>
  <app-vertical-line *ngIf="item % 2 !== 0"></app-vertical-line>
</div>
</div> -->

<router-outlet></router-outlet>
<app-game-board></app-game-board>
