@import "./../../../scss/color-styles";
@import "./../../../scss/default-styles";

.game-cell-company_container {
    padding-top: 1.5vw;
    padding-bottom: 0.3vw;
    position: relative;
    @include flex-c_c;
    justify-content: flex-end;
    gap: 0.1vw;
    flex-direction: column;
    height: 100%;
}

.game-cell-company {
    width: 3vw;
    height: 2vw;
    border-radius: 0.5vw;
    position: absolute;
    left: calc(50% - 1.5vw);
    top: calc(0px - 1vw);
    z-index: 1;
}

.game-cell-company_owner {
    position: absolute;
    width: 100%;
    height: 0.3vw;
    top: 0;
    background: rgba($cell_hover, .3);
    z-index: 0;
    box-shadow: inset 0px 0px 81px 17px  green, 0px 0px 20px 4px green;
}

.game-cell-company_logo {
    width: 90%;
    background-size: cover;
}

.game-cell-company_price {
    @include font_default;
    font-size: 1.3vw;
    font-weight: 600;
    white-space: nowrap;
}

.game-cell-company_stock__img{
    width: 0.9vw;

}