@import "./../../../scss/color-styles";
@import "./../../../scss/default-styles";

.game-cell-company_container {
    position: relative;
    @include flex-c_c;
    gap: 10px;
    flex-direction: column;
    height: 100%;
}

.game-cell-company {
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1.1vw);
    top: calc(0px - 1.1vw);
    background-size: cover;
    z-index: 1;
}

.game-cell-company_owner {
    position: absolute;
    width: 100%;
    height: 0.3vw;
    top: 0;
    background: rgba($cell_hover, .3);
    z-index: 0;
    box-shadow: inset 0px 0px 81px 17px  green, 0px 0px 20px 4px green;
}

.game-cell-company_logo {
    width: 3vw;
    height: 3vw;
    background-size: cover;
}

.game-cell-company_price {
    @include font_default;
    font-size: 1vw;
    font-weight: 500;
    white-space: nowrap;
}