<div class="room-item-container">
    <div class="room-item">
        <div class="room-item_gradient">
            <div class="room-item_join" (click)="joinRoom()">Присоединиться к игре</div>
            <p class="room-item_index">Комната №{{index}}</p>
            <p class="room-item_desc__title">Имя комнаты: <span
                    class="room-item_desc">{{itemRoom.roomName}}</span></p>
           
            <p class="room-item_desc__title">Игроков: <span class="room-item_desc">12541</span></p>
        </div>
    </div>
</div>