<div class="game-cell-container" (click)="clickCellInfo()">
        <app-game-cell-company *ngIf="gameCellInfo.cellCompany" [gameCell]="gameCellInfo"
                [numberPlayers]="numberPlayers">
        </app-game-cell-company>
        <app-game-cell-square *ngIf="gameCellInfo.cellSquare" [directions]="gameCellInfo.cellDirections"
                [cellSquare]=" gameCellInfo.cellSquare">
        </app-game-cell-square>
        <div class="game-cell_players">
                <p appColorBackground [numberPlayer]="player" class="game-cell_players-font"
                        *ngFor="let player of gameCellInfo.players">
                </p>
        </div>
</div>