<div class="game-cell-container" (click)="clickCellInfo()">
        <app-game-cell-company *ngIf="gameCellInfo.cellCompany; else elseBlock" [gameCell]="gameCellInfo">
        </app-game-cell-company>
        <ng-template #elseBlock>
                <app-game-cell-square [gameCell]="gameCellInfo"> </app-game-cell-square>
        </ng-template>
        <div class="game-cell_players">
                <p [style.background]="color" class="game-cell_players-font" *ngFor="let color of playersPosition">
                </p>
        </div>
</div>