@import "./../../../../../scss/color-styles";

.game-cell-container {
    height: 100%;
    border: 1px solid $blue;
    position: relative;
}

.game-cell_players {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1111;
}

