<div class="info-player-container">
    <div class="info-player" [ngClass]="{'info-player_turn': isTurn}">
        <div class="info-player_gradient">
            <img class="info-player_img-type" src="./../../../assets/board/defaultAvatar.png" alt="typeImg">
            <div [style.background]="player.color" class="info-player-circle"></div>
            <div>
                <p class="info-player_text info-player_text_name">{{player.name}}</p>
                <p class="info-player_text"> Total: {{player.total}} </p>
                <p class="info-player_text">Capital: {{player.capital}}</p>
            </div>
        </div>
    </div>
</div>