@import "./../../../../scss/color-styles";
@import "./../../../../scss/default-styles";



.info-player {
    @include fon-blue;
    margin-bottom: 10px;
}

.info-player_gradient {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    padding: 1%;
}

.info-player-summary {
    grid-area: 2/1/2/3;
}

.info-player_text {
    color: $light_blue_text;
    font-family: 'Tektur', cursive;
    font-size: 12px;
    white-space: nowrap;
    display: flex;
    gap: 5%;
}

.info-player_text_name {
    font-size: 14px;
    font-weight: 600;
}

.info-player_turn {
    box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.info-player_bankrupt {
    @include font-default;
    font-size: 1.7vw;
    padding: 1% 4%;
    border: thick double;
    font-weight: 700;
    transform: rotate(13deg);
}