<div class="info-player-container">
    <div class="info-player" [ngClass]="{'info-player_turn': (playerTurnId$ | async) === player.id}">
        <div class="info-player_gradient">
            <app-foto-player [player]="player" [size]="'4vw'"></app-foto-player>
            <p *ngIf="player.bankrupt; else elseBlock" class="info-player_bankrupt" [style.color]="player.color"
                [style.border-color]="player.color"> {{'bankrot' | transloco}}</p>
            <ng-template #elseBlock>
                <div>
                    <p class="info-player_text info-player_text_name">{{player.name}}</p>
                    <p class="info-player_text">{{'total' | transloco}}: <app-info-player-balanse
                            [prevValue]="prevTotal" [currValue]="player.total"></app-info-player-balanse> </p>
                    <p class="info-player_text">{{'capital' | transloco}}: <app-info-player-balanse
                            [prevValue]="prevCapital" [currValue]="player.capital"></app-info-player-balanse> </p>
                </div>
            </ng-template>
        </div>
    </div>
</div>