<div class="info-player-container">
    <div class="info-player" [ngClass]="{'info-player_turn': (playerTurnId$ | async) === player.id}">
        <div class="info-player_gradient">
            <div [style.background]="player.color" class="info-player_img-container">
                <img class="info-player_img-type" src="assets/defaultAvatar.png" alt="typeImg">
            </div>
            <div>
                <p class="info-player_text info-player_text_name">{{player.name}}</p>
                <p class="info-player_text">Total: {{player.total}} </p>
                <p class="info-player_text">Capital: {{player.capital}}</p>
            </div>
        </div>
    </div>
</div>