<div class="offer-deal-container" *ngIf="_isAwaitSoluton; else awaitSolution">
    <div *ngIf="_userIdReceiver; else elseBlock">
        <div class="offer-deal-item-container">
            <app-offer-deal-item (offerEvent)="setOffer($event)" [dealPerson]="'offerPerson'"
                [idUser]="turnId$ | async"></app-offer-deal-item>
            <div class="line-offer-deal-item-container"></div>
            <app-offer-deal-item (offerEvent)="setOffer($event)" [dealPerson]="'receivePerson'"
                [idUser]="_userIdReceiver"></app-offer-deal-item>
        </div>
        <div class="balanse-offer-container">
            <p class="balanse-offer-title">{{'balanseTitle' | transloco }}</p>
            <input min="0" max="2" step="0.000001" class="balanse-line" type="range" [value]="calcBalanse()">
            <p class="balanse-offer-text">{{textBalanse() | transloco}}</p>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="info-player-offer-container">
            <p class="balanse-offer-title">{{'choisePlayerTitle' | transloco}}</p>
            <div class="info-player-container">
                <div class="info-player-offer-container_item" *ngFor="let player of players$ | async">
                    <div class="info-player_img-offer" *ngIf="player.id !== (turnId$ | async)"
                        (click)="selectPlayer(player.id)">
                        <app-foto-player [player]="player" [size]="'4vw'"></app-foto-player>
                        <p class="info-player-name" [ngStyle]="{'color': player.color }">{{player.nickName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="offer-deal-buttons">
        <app-button-standart (click)="clickButton(button.action)"
            [ngClass]="{'button__disable': (button.action === 'sendDealButton' && textBalanse() === 'noBalanseDeal')}"
            *ngFor="let button of buttonOffer" [button]="button"></app-button-standart>
    </div>
</div>
<ng-template #awaitSolution>
    <p class="balanse-offer-title">{{'awaitSolution' | transloco}}</p>
</ng-template>