<div class="form-create-game-container" [formGroup]="createGame">
    <form class="form-gradient">
        <p class="form-create-title">Create Game Room</p>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Nickname</mat-label>
                <input type="email" matInput formControlName="emailFormControl"
                    placeholder="Please enter your nickname">
                <!-- <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="createGame.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error> -->
            </mat-form-field>
            <app-select-create-game *ngFor="let option of selectsForm" [optionForm]="option"
                [parentForm]="createGame"></app-select-create-game>
        </div>

        <app-button-standart [height]="'60px'" [width]="'230px'" [text]="'Create Room'"></app-button-standart>
    </form>
</div>