@import "./../../scss/color-styles";
@import "./../../scss/default-styles";

.form-create-game-container {
    width: 450px;
    background: $light_blue;
    border-radius: 20px;
    border: 8px solid $blue;
    padding: 6px;
}

.form-gradient {
    @include flex-c_s;
    gap: 15px;
    flex-direction: column;
    padding: 2% 0;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(360deg, rgba(68, 150, 171, 1) 0%, rgba(156, 218, 238, 1) 100%);

}

.form-create-title {
    color: $blue;
    font-size: 30px;
    font-weight: 600;
    white-space: nowrap;
}

.mat-mdc-form-field {
    width: 300px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-radius: 20px;
    border: 4px solid $blue;
    background: url(./../../assets/fonInput.png);
    background-size: cover;
}

.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    color: $blue;
    font-family: 'Tektur', cursive;
    font-size: 22px;
    font-weight: 600;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color: $blue;
    font-family: 'Tektur', cursive;
}