<div class="game-cell-company_container" [ngClass]="{
        'game-cell-company_container__gorizontalLeft': gameCell.cellDirections === 'left',
        'game-cell-company_container__gorizontalRight': gameCell.cellDirections === 'right'}">

    <div class="game-cell-company_header" [ngClass]="{
        'game-cell-company_header__bottom': gameCell.cellDirections === 'bottom',
        'game-cell-company_header__top': gameCell.cellDirections === 'top',
        'game-cell-company_header__left': gameCell.cellDirections === 'left',
        'game-cell-company_header__right': gameCell.cellDirections === 'right'
    }" [style.box-shadow]="ownerShadow">
        <img [ngClass]="{
        'game-cell-company_img__gorizontal': gameCell.cellDirections === 'left' || gameCell.cellDirections === 'right'
        }" class="game-cell-company" src={{countryCompany}}>
    </div>

    <img class="game-cell-company_logo" src={{nameCompany}} [ngClass]="{
        'game-cell-company_logo__gorizontal': gameCell.cellDirections === 'left' || gameCell.cellDirections === 'right'
        }">

    <p class="game-cell-company_price">${{gameCell.cellCompany?.priceCompany}}</p>
    <div class="game-cell-company_stock" [ngClass]="{
            'game-cell-company_stock__gorizontal': gameCell.cellDirections === 'left' || gameCell.cellDirections === 'right'
            }">
        <img class="game-cell-company_stock__img" *ngFor="let i of gameCell.cellCompany?.shares" src={{imgStock}}
            alt="stock">

    </div>
</div>