@import "./../../../../scss/color-styles";
@import "./../../../../scss/default-styles";

.game-cell-square-container {
    @include flex-c_c;
    flex-direction: column;
    height: 100%;
}

.game-cell-square_img {
    width: 6vw;
    height: 6vw;
    background-size: cover;
}

.game-cell-square_text {
    @include font_default;
    font-weight: 600;
    font-size: 1.1vw;
    
}