@import "./../../../../scss/default-styles";

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 40px;
}

.game-page-board {
    grid-area: 1/2/3/2;
}

.page-game-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    @include flex-c_s;
    gap: 2%;
}