.main-page-container {

    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 40px;
}

.main-page-board {

    grid-column-start: 2;
}

.page-border{
    width: 90%;
    margin: 0 auto;
}