<div class="turn-player-container">
    <p class="game-board_inside__text">Your turn</p>
    <div *ngIf="!(cellGameState$ | async)?.isDiceRoll" class="button-container-turn">
        <div *ngFor="let button of buttons">
            <app-button-standart *ngIf="button.show" [width]="button.width" [height]="button.height"
                [action]="button.action"></app-button-standart>
        </div>
    </div>
    <app-dice-roll class="dice-roll-container" *ngIf="(cellGameState$ | async)?.isDiceRoll"
        [cheatNumbers]="cheatNumbers"></app-dice-roll>
    <div class="timer-container" [ngStyle]="{'color':fontColor}">0{{minute}}:{{seconds}}</div>
</div>