@import "./../../../../../scss/color-styles";
@import "./../../../../../scss/default-styles";

.game-board_inside__text {
    @include font-default;
    font-weight: 600;
    font-size: 1.5vw;
}

.game-board_turn {
    height: 1.5vw;
    width: 100%;
}

.turn-player-container {
    height: 95%;
    @include flex_c_s;
    flex-direction: column;
    position: relative;
}

.timer-container {
    @include font_22px;
    font-size: 24px;
}

.dice-roll-container {
    width: 35%;
}

.info-cell-turn {
    width: 100%;
    position: relative;
}

.control-company-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: $light_blue;
    z-index: 1111;
}

.turn-player-container_exit {
    position: absolute;
    right: 0;
    transition: all .5s;
    width: 2vw;
    cursor: pointer;
    z-index: 11;

    &:hover {
        filter: hue-rotate(253deg)
    }
}