@import './../../../scss/color-styles';
@import "./../../../scss/default-styles";

.cell-container {
    height: 30px;
    width: 30px;
    position: relative;
    @include flex-c_c;
}

.line {
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 34px;
    height: 4px;
    position: absolute;
    cursor: pointer;
    transition: .3s;

    &:hover {
        z-index: 1 !important;
        background: $cell_hover !important;
    }
}

.line-container_vertical {
    width: 4px;
    height: 34px;
}

.occupied-player_img-type {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-top: 4px;
}