@import "./../../../../../scss/default-styles";
@import "./../../../../../scss/color-styles";

.dice-roll-container {
    width: 100%;
}

.dice-rool-wrapper {
    @include flex-c_s;
    margin-bottom: 10%;
}

.dice-rool_text {
    @include font_default;
    font-size: 18px;
    font-weight: 600;
}