<form class="container-modal_switch" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-input-material *ngFor="let option of inputForm" [parentForm]="loginForm"
        [optionForm]="option"></app-input-material>
    <app-button-standart [button]="textButton"></app-button-standart>
    <div class="footer-modal-login">
        <p class="footer-modal_text" (click)="registerOpen()">{{'register' | transloco}}</p>
        <div class="social-container">
            <app-anonim-auth [size]="'2.5vw'"></app-anonim-auth>
            <app-google-auth [size]="'2.5vw'"></app-google-auth>
            <app-yandex-auth [size]="'2.5vw'"></app-yandex-auth>
        </div>
    </div>
</form>