.winner-container {
    position: relative;
}

.winner-img {
    width: 50%;
    margin: 0 25%;
    position: relative;
    z-index: 1;
}

.winner-img_player {
    position: absolute;
    width: 9vw;
    left: calc(50% - 4.5vw);
    top: calc(50% - 5vw);
}