<div class="info-player-container">
    <div class="info-player" [ngClass]="{'info-player_turn':player.isTurn}">
        <div class="info-player_gradient">
            <div class="info-player_type">
                <img class="info-player_img-type" src={{srcImg}} alt="typeImg">
            </div>
            <p class="info-player_text">{{player.name}}</p>
            <p class="info-player_text">Total: {{player.total}}</p>
        </div>
    </div>
    <p *ngIf="player.isTurn" class="player-turn">{{player.name}} turn</p>
</div>