@import "./../../../scss/color-styles";

.info-player-container {
    height: 200px;
    width: 140px;
    background: $light_blue;
    border-radius: 15px;
    border: 6px solid $blue;
    padding: 3px;
}

.info-player_gradient {
    height: calc(100% - 16px);
    border-radius: 8px;
    padding: 8px;
    background: linear-gradient(360deg, rgba(68, 150, 171, 1) 0%, rgba(156, 218, 238, 1) 100%)
}

.info-player_type {
    border-radius: 8px;
    height: 60%;
    background: $dark_blue;
}

.text-O {
    color: #FCCE16;
    font-size: 90px;
    text-align: center;
    font-weight: 900;
    margin: 0;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em blue;
    -webkit-text-stroke: 1px black;
}