@import "./../../../scss/color-styles";
@import "./../../../scss/default-styles";

.info-player-container {
    width: 140px;
}

.info-player {
    height: 200px;
    background: $light_blue;
    border-radius: 15px;
    border: 6px solid $blue;
    padding: 3px;
    margin-bottom: 10px;
}

.info-player_gradient {
    height: 100%;
    border-radius: 8px;
    padding: 8px;
    background: linear-gradient(360deg, rgba(68, 150, 171, 1) 0%, rgba(156, 218, 238, 1) 100%)
}

.info-player_type {
    border-radius: 8px;
    height: 60%;
    background: $dark_blue;
    margin-bottom: 20px;
    @include flex-c_c;
}

.info-player_img-type {
    width: 75%;
}

.info-player_text {
    color: $light_blue_text;
    font-family: 'Tektur', cursive;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.player-turn {
    font-family: 'Tektur', cursive;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: $light_blue;
}