@import "./../../../scss/color-styles";
@import "./../../../scss/default-styles";

.info-player-container {
    width: 150px;
    height: 60px;
}

.info-player {
    height: 190px;
    @include fon-blue;
    margin-bottom: 10px;
}

.info-player_turn {
    box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.info-player_gradient {
    height: 100%;
    @include fon-gradient;
}

.info-player_type {
    border-radius: 8px;
    height: 60%;
    background: $dark_blue;
    margin-bottom: 20px;
    @include flex-c_c;
}

.info-player_img-type {
    width: 75%;
}

.info-player_text {
    color: $light_blue_text;
    font-family: 'Tektur', cursive;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.player-turn {
    font-family: 'Tektur', cursive;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: $light_blue;
}