<div class="info-player-container">
    <div class="info-player" [ngClass]="{'info-player_turn':player.isTurn}">
        <div class="info-player_gradient">
            <img class="info-player_img-type" src="./../../../assets/board/defaultAvatar.png" alt="typeImg">
            <div>
                <p class="info-player_text info-player_text_name">{{player.name}}</p>
                <p class="info-player_text">Total: {{player.total}}</p>
                <p class="info-player_text">Capital: {{player.total}}</p>
            </div>
            <div *ngIf="player.isTurn" class="player-turn"></div>
        </div>
    </div>
</div>