<div *ngIf="(modal$ | async) !== 'none'" class="wrapper-modal" (click)="closeModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="modal-gradient">
            <p *ngIf="modalError$ | async" class="modal-error">{{modalError$ | async}}</p>
            <span class="material-symbols-outlined close-modal" (click)="closeModal()">
                cancel
            </span>
            <div [ngSwitch]="(modal$ | async)">
                <app-modal-register *ngSwitchCase="'register'"></app-modal-register>
                <app-modal-login *ngSwitchCase="'login'"></app-modal-login>
            </div>
        </div>
    </div>
</div>