@import "./../../../../../scss/color-styles";
@import "./../../../../../scss/default-styles";

.chat-text {
    @include font-default;
    font-size: 0.8vw;
    font-weight: 500;
}

.chat-text_name {
    font-weight: 600;
    @include font_clip;
}

.message-container {
    @include flex_c_c;
    justify-content: start;
    gap: 0.3vw;
    background: #c5d1da;
    border-radius: 10px;
    padding: 1% 3%;
}

.chat-text_separator {
    @include font_default;
    text-align: center;
    font-size: 8px;
}

.chat-message-avatar {
    width: 2vw;
    border-radius: 50%;
}