@import "./../../../../../scss/color-styles";
@import "./../../../../../scss/default-styles";

.chat-text_name {
    font-weight: 600;
    @include font_default;

}


.chat-text_separator {
    font-size: 12px;
    @include font_default;
    text-align: center;

}