<div class="form-create-game-container">
    <form class="form-gradient" [formGroup]="createGame" (ngSubmit)="onSubmit()">
        <p class="form-create-title">Create Game Room</p>
        <div>
            <div class="nickname-container">
            </div>
            <app-input-material *ngFor="let option of inputForm" [optionForm]="option"
                [parentForm]="createGame"></app-input-material>
            <app-select-material *ngFor="let option of selectsForm" [parentForm]="createGame"
                [optionForm]="option"></app-select-material>
        </div>
        <app-button-standart [height]="'60px'" [width]="'230px'" [action]="textButton"></app-button-standart>
    </form>
</div>