@import "./../../scss/default-styles";

.header-container {
    padding: 1%;
    @include flex-c_s;
}

.header-logo {
    width: 120px;
    height: 40px;
    background: yellow;
}

.header-buttons {
    display: flex;
    gap: 10px;
}