<form class="form-container_material" [formGroup]="inputForm">
    <mat-form-field>
        <mat-label>{{optionForm.namelabel}}</mat-label>
        <input type={{optionForm.type}} matInput formControlName="value"
            placeholder="Please enter your {{optionForm.nameForm}}">
    </mat-form-field>
    <div class="error-form-container" *ngIf="_value?.invalid && (_value?.touched || _value?.dirty)">
        <span class="error-text" *ngIf="_value?.errors?.required">Field From is required</span>
    </div>
</form>