<div class="buy-company-container">
    <p class="buy-company-title">Buy company</p>
    <div class="buy-company-wrapper">
        <img class="buy-company_country" [src]="(sellCompany$ | async)?.countryCompany| imgAssets" alt="assets country">
        <div class="buy-company_info">
            <img class="buy-company_image" [src]="(sellCompany$ | async)?.nameCompany | imgAssets" alt="assets company">
            <div>
                <p class="buy-company_info__title">Name company:
                    <span class="buy-company_info__desc">{{(sellCompany$ | async)?.nameCompany | titlecase}}</span>
                </p>
                <p class="buy-company_info__title">Purchase price:
                    <span class="buy-company_info__desc">{{(sellCompany$ | async)?.priceCompany}}</span>
                </p>
                <p class="buy-company_info__title">Rent price:
                    <span class="buy-company_info__desc">{{(sellCompany$ | async)?.rentCompany}}</span>
                </p>
            </div>
        </div>

        <div *ngIf="(sellCompany$ | async)?.auctionPrice" class="auction-company_buttons">
            <div class="auction-company_info">
                <p class="buy-company_info__title">Current winner:
                    <span class="buy-company_info__desc">{{(sellCompany$ | async)?.auctionWinner}}</span>
                </p>
                <p class="buy-company_info__title">Next bid:
                    <span class="buy-company_info__desc">{{(sellCompany$ | async)?.auctionPrice}}</span>
                </p>
                <p class="buy-company_info__title">End auction:
                    <span class="buy-company_info__desc">{{timer}}s</span>
                </p>
            </div>
            <app-button-standart (click)="stepAuction()" [action]="auctionStep" [width]="'10vw'"
                [height]="'auto'"></app-button-standart>
        </div>

        <div *ngIf="!((sellCompany$ | async)?.auctionPrice)" class="buy-company_buttons">
            <div>
                <p class="buy-company_info__title">Time left:
                    <span class="buy-company_info__desc">{{timer}}s</span>
                </p>
                <app-button-standart (click)="companyBuy()" [action]="buyCompany" [width]="'10vw'"
                    [height]="'auto'"></app-button-standart>
            </div>
            <app-button-standart (click)="companyCancel()" [action]="refuseBuy" [width]="'10vw'"
                [height]="'auto'"></app-button-standart>
        </div>

    </div>
</div>