<div class="buy-company-container">
    <p class="buy-company-title">Buy company</p>
    <div class="buy-company-wrapper">
        <img class="buy-company_country" [src]="(sellCompany$ | async)?.countryCompany| imgAssets" alt="assets country">
        <div class="buy-company_info">
            <img class="buy-company_image" [src]="(sellCompany$ | async)?.nameCompany | imgAssets" alt="assets company">
            <div>
                <p class="buy-company_info__title">Name company:
                    <span class="buy-company_info__desc">{{(sellCompany$ | async)?.nameCompany | titlecase}}</span>
                </p>
                <p class="buy-company_info__title">Purchase price:
                    <span class="buy-company_info__desc">{{(sellCompany$ | async)?.priceCompany}}</span>
                </p>
                <p class="buy-company_info__title">Rent price:
                    <span class="buy-company_info__desc">{{(sellCompany$ | async)?.rentCompany}}</span>
                </p>
            </div>
        </div>
        <app-auction-buy *ngIf="(sellCompany$ | async)?.auctionPrice"
            [auctionWinner]="(sellCompany$ | async)?.auctionWinner"
            [auctionPrice]="(sellCompany$ | async)?.auctionPrice" [indexCompany]="indexCompany"></app-auction-buy>
        <app-primary-buy *ngIf="!((sellCompany$ | async)?.isAuction)" [indexCompany]="indexCompany"></app-primary-buy>
    </div>
</div>