@import "./../../../../../scss/color-styles";
@import "./../../../../../scss/default-styles";

.buy-company-wrapper {
    width: 30vw;
    position: relative;
    padding: 1vw;
    background: $light_blue;
    border-radius: 1vw;
}

.buy-company-title {
    @include font_default;
    margin-bottom: 2vw;
}

.buy-company_country {
    position: absolute;
    width: 5vw;
    height: 3vw;
    top: -1.5vw;
    left: calc(50% - 2.5vw);
    border-radius: 0.5vw;
}

.buy-company_image {
    width: 9vw;
}

.buy-company_info {
    @include flex_c_s;
    gap: 1vw;
    margin-bottom: 1vw;
}

