<div class="page-room-container">
    <div class="page-room_title">
        <p class="page-room_title__text">Список комнат ({{(rooms$ | async)?.length}})</p>
        <div class="page-room-buttons">
            <app-button-materials *ngFor="let option of buttons" [option]="option"></app-button-materials>
        </div>
        <app-page-room-search></app-page-room-search>
    </div>
    <div class="page-room_rooms">
        <app-room-item *ngFor="let room of (rooms$ | async); let i = index" [itemRoom]="room"
            [index]="i+1"></app-room-item>
    </div>
</div>