<div class="chat">
    <div class="chat-container" *ngIf="isOpen; else elseBlockChat">
        <div class="chat-container-gradient">
            <div class="chat-title-container">
                <p class="chat-title">Chat room</p>
                <span class="material-symbols-outlined chat-close" (click)="closeChat()">
                    left_panel_open
                </span>
            </div>
            <div class="chat-area">
                <div class="chat-area_message">
                    <span class="chat-text" *ngIf="(chat$ | async)?.length === 0; else elseBlock">Enter your
                        message...</span>
                    <ng-template #elseBlock><app-chat-message *ngFor="let message of chat$ | async"
                            [message]="message"></app-chat-message>
                    </ng-template>
                </div>
                <app-chat-input></app-chat-input>
            </div>
        </div>
    </div>
    <ng-template #elseBlockChat>
        <span class="material-symbols-outlined chat-open-button" (click)="openChat()">
            chat
        </span>
    </ng-template>
</div>