$cell_default: #A0CEE5;
$cell_hover: #7A8082;
$cell_border: #00003A;


$default_white: #F5F5F5;
$light_blue_text: #290140;
$blue: #15379B;
$dark_blue: #022565;
$color_cell: #006AC9;
$button_color: #3F494A;
$orange_default: #CBCFD0;
$color_turquoise: #C12B99;
$color_green: #228B22;
$color_red: #E20001;

$light_grey: #CBCFD0;
$dark_grey: #3F494A;
$dark_purple: #290147;
$purple: #7005A9;
$pink: #C12B99;
$light_blue: #DCE1E5;