$cell_default: #A0CEE5;
$cell_hover: #7A8082;
$cell_border: #00003A;

$light_blue: #DCE1E5;
$default_white: #FDFDFF;
$light_blue_text: #002260;
$blue: #15379B;
$dark_blue: #022565;
$color_cell: #006AC9;
$button_color: #1832A0;
$orange_default: #FEB511;
$color_turquoise: #0CCBFF;
$color_green: #42DD51;
$color_red: #E20001;