@mixin flex-c_c {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-c_s {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-s_c {
    display: flex;
    align-items: start;
    justify-content: center;
}

@mixin flex-s_s {
    display: flex;
    align-items: start;
    justify-content: space-between;
}


@mixin fon-blue {
    background: $light_blue;
    border-radius: 15px;
    border: 6px solid $blue;
    padding: 3px;
}

@mixin fon-gradient {
    border-radius: 8px;
    padding: 8px;
    background: linear-gradient(360deg, rgba(68, 150, 171, 1) 0%, rgba(156, 218, 238, 1) 100%)
}

@mixin font_default {
    font-family: 'Tektur', cursive;
    color: $light_blue_text;
}

@mixin font_22px {
    @include font_default;
    font-weight: 600;
    font-size: 22px;
}