@import "./../../../scss/default-styles";
@import "./../../../scss/color-styles";


.input-container {
    @include flex-c_s;
    width: 80%;
    border: 3px solid $blue;
    border-radius: 10px;
}

.chat-input-full-width {
    height: 40px;
}


.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-floating-label {

    font-size: 14px;
    @include font_default;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    font-size: 12px;
    @include font_default;
}

.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.mdc-line-ripple {
    display: none;
}

.mdc-text-field {
    padding: 2px 8px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border: none;
    background: none;
}

.chat-send-button {
    font-size: 28px;
    color: $light_blue_text;
    cursor: pointer;
    transition: .4s;
    border: none;
    background: none;
    outline: none;

    &:hover {
        color: $color_cell;
        transform: scale(1.1);
    }

    &:active {
        color: $orange_default;
        transform: scale(0.9);
    }
}

.error-container {
    padding-left: 10px;
    padding-top: 5px;
}