<form class="chat-input-container" [formGroup]="chatForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
        <mat-form-field class="chat-input-full-width">
            <mat-label>Message</mat-label>
            <input matInput formControlName="message" placeholder="Enter your message...">
        </mat-form-field>
        <button class="material-symbols-outlined chat-send-button">
            send
        </button>
    </div>
    <div class="error-container" *ngIf="_message?.invalid && (_message?.touched || _message?.dirty)">
        <span class="error-text" *ngIf="_message?.errors?.required">Error</span>
    </div>
</form>