@import './../../scss/color-styles';

.cell-container {
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    top: 0;
    left: 0;
    width: 44px;
    height: 5px;
    position: absolute;
    cursor: pointer;
    transition: .3s;

    &:hover {
        z-index: 1 !important;
        background: $cell_hover !important;
    }
}

.line-container_vertical {
    width: 5px;
    height: 44px;
}