@import "./../../../../scss/color-styles";
@import "./../../../../scss/default-styles";

.game-board-container {
    min-height: 340px;
    min-width: 340px;
    width: 80vw;
    height: 48vw;
    display: grid;
    grid-template-columns: repeat(13, calc(79.5vw / 15));
    grid-template-rows: repeat(13, calc(47.5vw / 10));
    @include fon-blue;
    background: #AFE7CC;
    padding: 0;
}

.game-board_inside-container {
    border: 1px solid $blue;
    grid-area: 3/3/9/14;
    display: grid;
    grid-template-columns: 1fr 19vw;
    align-items: center;
    justify-items: center;
}